<% title "Comment" %>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>
<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
